extends layout

block content
  div(id="site-header" class="center-text fs4_5em ffCustome cLightPurple pointer")
    div() Welcome to
    span(class="fs1_3em") Y
    span() our
    span(class="fs1_3em") S
    span() ite
    span(class="fs1_3em") T
    span() itle
  div(id="main-content" class="flex column around w80pc")
    div(id="content-block" class="flex column around max-w20em min-h20em bWhite br0_5em")
      div(id="block-header" class="bold fs1_2em bbSolid bW0_1em bcDark6") This is where your article/post title goes
      div(id="block-content") This is where your article/post text goes
        p() Text can also be presented as paragraphs
