doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" media="screen" href="stylesheets/styles.css")

  body(class="flex column between min-w30em h100pc w100pc")
    div(id="header-main" class="flex row between center-items max-h5em bLight2 pr1em pl2em")
      a(href="/home")
        div(class="fs3em ffCustome bold cLightPurple") FS
      div(class="flex row ")
        a(href="/faq")
          div(class="cBody fs1_2em mr0_8em") FAQs
        a(href="/tos")
          div(class="cBody fs1_2em") TERMS
    div(id="content-main" class="flex column around center-items")
      block content
    div(id="footer-maine" class="flex column center center-items w100pc h20em")
      div(id="footer-text" class="fs1_4em max-w35em center-text")
        div() Fetish Seeker is brought to you by Dating Life Inc. Dating Life Inc is your number 1 place to connect you to the people you're looking to date in life. Much like the name suggests. Copyright 2018./div)